@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
* {
    font-family: Comfortaa, sans-serif;
    color: white;
}
body {
    background-color: black;

}
nav ul{
    display: flex;
    flex-direction: row;
    background-color: rgb(231, 0, 0);
    gap: 5px;   
    justify-content: center;
}
ul {
    list-style: none;
}
.button {
    font-size: larger;
    font-weight: bolder;
    border-left: 3px;
    border-right: 3px;
    border-color: white;
    padding: 40px 60px;
}
.logo1{
    width: 10%;
}
.button:hover{
    background-color: rgb(190, 0, 0);
}
.button:active{
    background-color: rgb(160, 0, 0);
}
a{
    text-decoration: none;
}